<?xml version="1.0" encoding="UTF-8"?>
<config>
    <fieldset
        name="lending"
        label="COM_YSINVENTORY_CONFIG_LENDING_LABEL"
    >
        <field
            name="ysi_lend_request_groups"
            type="usergrouplist"
            label="COM_YSINVENTORY_CONFIG_LEND_REQUEST_GROUPS_LABEL"
            description="COM_YSINVENTORY_CONFIG_LEND_REQUEST_GROUPS_DESC"
            multiple="true"
            layout="joomla.form.field.list-fancy-select"
        />

        <field
            name="ysi_lend_moderation_groups"
            type="usergrouplist"
            label="COM_YSINVENTORY_CONFIG_LEND_MODERATION_GROUPS_LABEL"
            description="COM_YSINVENTORY_CONFIG_LEND_MODERATION_GROUPS_DESC"
            multiple="true"
            layout="joomla.form.field.list-fancy-select"
        />

        <field
            name="ysi_lend_show_borrowings"
            type="list"
            label="COM_YSINVENTORY_CONFIG_SHOW_BORROWINGS_LABEL"
            description="COM_YSINVENTORY_CONFIG_SHOW_BORROWINGS_DESC"
            default="1"
        >
            <option value="1">JYES</option>
            <option value="0">JNO</option>
        </field>
    </fieldset>

    <fieldset
        name="permissions"
        label="JCONFIG_PERMISSIONS_LABEL"
    >
        <field
            name="rules"
            type="rules"
            label="JCONFIG_PERMISSIONS_LABEL"
            validate="rules"
            filter="rules"
            component="com_ysinventory"
            section="component"
        />
    </fieldset>
</config>
